html {
  scroll-behavior: smooth;
}

#welcome {
  color: aliceblue;
  text-align: center;
  font-family: "Notable";
  margin-top: 5%;
}

.link {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 2.3rem;
}

.link:hover {
  text-decoration: solid;
  font-size: 2.5rem;
  color: rgb(255, 217, 0);
}

.section {
  display: block;
  text-align: center;
  height: max-content;
}

.form-bg {
  background-image: url("Resources/form.jpeg");
  padding-bottom: 1%;
  width: fit-content;
  float: auto;
  border-radius: 20px;
}

#animated-intro:hover {
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .form-bg {
    width: 100%;
  }

  iframe {
    width: 100%;
  }
}

/* @media only screen and (min-width: 767px) { */
#confession {
  display: flex;
  justify-content: center;
}
/* } */
